  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  .music-fav-box {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 600px;
  /* background: linear-gradient(90deg, rgba(54, 168, 124, 0.5), rgba(17, 190, 212, 0.5)); */
  background-color: rgba(54, 190, 124, 0.3);
  padding: 25px;
  border-radius: 10px;
  text-align: center; 
}
.music-fav-box ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}
.music-fav-box li {
  margin-bottom: 8px;
}

.box-one {
  background: linear-gradient(160deg, rgba(38, 121, 89, 0.3), rgba(12, 41, 30, 0.3));
  border: 1px solid #519794;
}
.box-two { 
  background: linear-gradient(160deg, rgba(231, 83, 46, 0.3), rgba(102, 41, 25, 0.3));
  border: 1px solid #a15353;
}
.box-three {
  background: linear-gradient(160deg, rgba(38, 156, 68, 0.3), rgba(22, 83, 58, 0.3));
  border: 1px solid #3d8f44;
}

.boxen-nebeneinander {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
}

.box-one, .box-two, .box-three {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.boxen-nebeneinander a {
  color: #ffffff;
  text-decoration: underline;
  opacity: 0.8;
}
.boxen-nebeneinander a:hover { /* Damit links leuchten wenn man drüber hovert */
  opacity: 1;
  color: #00fff7;
}

@media (max-width: 800px) { /* Anpassung an Screen-Größe */
  .boxen-nebeneinander {
    flex-direction: column;
  }
}
