  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  .music-fav-box {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 600px;
  background: #2d3049;
  padding: 25px;
  border-radius: 10px;
  text-align: center; 
}
.music-fav-box ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}
.music-fav-box li {
  margin-bottom: 8px;
}

.box-one { background-color: #212b25; }
.box-two { background-color: #21272b; }
.box-three { background-color: #2b2124; }

.boxen-nebeneinander {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
}

.box-one, .box-two, .box-three {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.boxen-nebeneinander a {
  color: #ffffff;
  text-decoration: underline;
  opacity: 0.8;
}
.boxen-nebeneinander a:hover { /* Damit links leuchten wenn man drüber hovert */
  opacity: 1;
  color: #00fff7;
}

@media (max-width: 800px) { /* Anpassung an Screen-Größe */
  .boxen-nebeneinander {
    flex-direction: column;
  }
}
