@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

body {
  background-color: #30313E;
  color: white;
  font-family: "Bitcount Prop Double Ink", monospace; 
  font-weight: 500;
}

a {
  color: white; 
}

.mittig-ueberschrift {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.mittig-normal {
  text-align: center
}


.links {
    display: flex;
    align-items: center;
    gap: 20px;

    background: #21222b;
    border: 1px solid #444;
    border-radius: 15px;

    padding: 15px;
    margin-bottom: 20px;

    color: #ffffff;
}

 /* Nur für die Links aud der Index page */
.social-links {
  background: #21222b;
  border: 1px solid #444;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px;
  align-items: center;
}
.social-links li {
  flex: 0 1 20%;
  max-width: 100px; 
  min-width: 50px;
}
.social-links img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease; /* Animation */
  border-radius: 25px;
}

@media (max-width: 768px) {
  .social-links {
    gap: 20px;
  }
  .social-links li {
    max-width: 80px;
  }
}

@media (max-width: 480px) {
    .social-links {
        gap: 15px;
    }
    .social-links li {
        max-width: 60px;
    }
}

.social-links img:hover {
    transform: scale(1.15);
    filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.2)); 
}